<ion-header>
  <ion-toolbar color="primary" style="box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.22);">
    </ion-toolbar>
</ion-header>

<ion-content class="main-content">
 <mat-card (click)="onClick()" class="appointment-card">
  <img mat-card-image src="assets/icon/doctor3.jpg" alt="Doctor" style="max-width: -webkit-fill-available;">
  <mat-card-content>
    <mat-card-title style="color: white;">Appointment</mat-card-title>
  </mat-card-content>
</mat-card>
<mat-card class="date-card">
  <img mat-card-image src="assets/icon/date1.jpg" alt="Date" style="max-width: -webkit-fill-available;">
  <mat-card-content>
    <mat-card-title style="color: white;">Available Dates</mat-card-title>
  </mat-card-content>
</mat-card>
<mat-card class="time-card">
  <img mat-card-image src="assets/icon/clock.jpg" alt="Doctor" style="max-width: -webkit-fill-available;">
  <mat-card-content>
    <mat-card-title style="color: white;">Availabe Time</mat-card-title>
  </mat-card-content>
</mat-card>
<mat-card class="surgery-card">
  <img mat-card-image src="assets/icon/doctor.jpg" alt="Doctor" style="max-width: -webkit-fill-available;">
  <mat-card-content>
    <mat-card-title style="color: white;">Surgery</mat-card-title>
  </mat-card-content>
</mat-card>
</ion-content>
