<ion-header>
 
</ion-header>

<ion-content>
  <div>
    <mat-card class="example-card">
      <div>
        <h1 style="text-align: center;font-weight: bold;">Welcome Back!</h1>
      </div>
      <div>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Email or Phone</mat-label>
            <input matInput placeholder="Email or Phone">
          </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" type="password">
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" style=" width: 100%;" (click)="login()" >Sign In</button>
    <div>
      <button mat-button color="primary" style="font-size: medium; margin-top: 10px;  width: 100%;">Forgot password?</button>
    </div>
    </mat-card>
    </div>
</ion-content>
